<div class="hero-img-list">
  <% unless @list.url.empty? %>
    <%= image_tag @list.url, alt: "Classic Movie"%>
  <% else %>
    <%= image_tag 'default_img.jpg', alt: "List poster" %>
  <% end %>
  <h1><%= @list.name %></h1>
</div>

<div class="container p-5 w-50">
  <h1 class="mb-4">Add new movie</h1>
  <%= simple_form_for [@list, @bookmark ] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "Add", class: "btn btn-success" %>
  <% end %>
</div>
